<div class="brainstorm-container">
  <h1>Come Up With Some Ideas</h1>
  <div class="ideas-container">
    <div class="col">
      <form ng-submit="ideasCreate.create()" id="idea-form">
        <input type="text" placeholder="Title" ng-model="ideasCreate.new.title">
        <textarea type="text" placeholder="Body" ng-model="ideasCreate.new.body"></textarea>
      </form>
    </div>
  </div>

<footer>
  <div class="Add-Idea">
    <input type="submit" value="Add To Favorites" form="idea-form">
  </div>
  <div class="profile-settings" ui-sref="profile">
    <h1>Profile</h1>
  </div>
</footer>
</div>
