body {
  margin: 0;
  padding: 0;
  font-family: 'Muli'; }

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 4em;
  position: fixed;
  z-index: 10000; }
  header h1 {
    font-size: 2.5em;
    margin-left: 1.5em;
    flex: 1; }
  header ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    flex-wrap: wrap; }
    header ul li {
      list-style: none;
      font-size: 1.5em;
      margin: 0 2em; }
    header ul a {
      color: black;
      text-decoration: none;
      position: relative;
      transition: 0.5s ease;
      padding-bottom: 0.5em; }
    header ul a:hover {
      transition: 0.5s ease;
      color: #c44e4e; }
    header ul a::before {
      content: '';
      position: absolute;
      height: 1px;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transition: 0.5s ease;
      width: 100%;
      cursor: pointer; }
    header ul a:hover::before {
      content: '';
      transform: scaleX(1);
      background-color: #c44e4e; }

.home-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../images/free-think-hero.jpg");
  color: black;
  z-index: 10;
  font-size: 1.5em; }
  .home-container .landing {
    text-align: center;
    z-index: 1000;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .home-container .landing .landing-info {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .home-container .landing .landing-info .authorization {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center; }
        .home-container .landing .landing-info .authorization span {
          padding: 0.2em 1em;
          margin: 0 0.5em;
          border: 1px solid black;
          cursor: pointer;
          transition: 0.5s ease; }
        .home-container .landing .landing-info .authorization span:hover {
          background-color: rgba(196, 78, 78, 0.3);
          border-radius: 2em; }
    .home-container .landing h1 {
      border-bottom: 1px solid black;
      letter-spacing: 0.2em;
      padding-bottom: 0.5em; }
    .home-container .landing .img-container {
      font-size: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white; }
    .home-container .landing .img-container img {
      width: 60%; }

.users-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f8b195; }
  .users-container h1 {
    letter-spacing: 0.2em; }
  .users-container .users-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    height: 50vh;
    overflow-y: auto; }
    .users-container .users-row .users {
      flex: 1 0 10em;
      font-size: 2em;
      border: 1px solid black;
      margin: 0.5em;
      text-align: center;
      cursor: pointer;
      position: relative;
      cursor: pointer;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.65); }
      .users-container .users-row .users:before {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: 0.5s ease; }
      .users-container .users-row .users:hover:before {
        content: 'Add Collaborator';
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1a1a1a; }

.profile-container {
  display: flex;
  width: 100%;
  height: 110vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f8b195;
  position: relative; }
  .profile-container .people {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    align-self: flex-start;
    flex-wrap: wrap;
    background-color: #f0f0f0;
    padding: 1em;
    margin-left: 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 5em;
    z-index: 100;
    border-radius: .2em;
    height: 30vh;
    overflow-y: auto;
    border-radius: .2em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); }
    .profile-container .people .title {
      width: 100%;
      text-align: center; }
    .profile-container .people .col {
      flex: 1;
      margin: 0.5em;
      padding: 0.5em 1.5em;
      border: 1px solid black;
      cursor: pointer;
      position: relative;
      border-radius: .5em; }
      .profile-container .people .col:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: .5s ease;
        color: white; }
      .profile-container .people .col:hover:before {
        content: 'Collaborate';
        background-color: #141414;
        display: flex;
        justify-content: center;
        align-items: center; }
  .profile-container .idea-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    position: relative;
    width: 70%;
    margin-bottom: 15em; }
  .profile-container .idea-bank {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 30vh;
    overflow-y: scroll; }
    .profile-container .idea-bank .idea-col {
      margin: 1em;
      padding: 0.5em 1.5em;
      border: 1px solid black;
      overflow-y: auto;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
      cursor: pointer; }

.brainstorm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh; }
  .brainstorm-container .ideas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%; }
  .brainstorm-container .col {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    width: 50%; }
    .brainstorm-container .col form {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-size: 2em; }
      .brainstorm-container .col form input,
      .brainstorm-container .col form label,
      .brainstorm-container .col form textarea {
        margin: 0.5em 0;
        width: 100%;
        align-self: flex-start; }

.ideas-create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 100vh; }

.idea-show-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #f8b195; }
  .idea-show-container .idea-col {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .idea-show-container .idea-col form {
      display: flex;
      flex-direction: column;
      width: 70vh; }
      .idea-show-container .idea-col form input,
      .idea-show-container .idea-col form label {
        margin: 0.5em 0;
        font-size: 2em; }
      .idea-show-container .idea-col form .buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%; }
        .idea-show-container .idea-col form .buttons button {
          background-color: none;
          border: none; }
  .idea-show-container .idea-edit-form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .idea-show-container .idea-edit-form form {
      display: flex;
      flex-direction: column;
      width: 70vh; }
      .idea-show-container .idea-edit-form form input[type="text"],
      .idea-show-container .idea-edit-form form label {
        margin: 0.5em 0;
        font-size: 2em; }
      .idea-show-container .idea-edit-form form button {
        background-color: inherit;
        border: none;
        font-size: 1.5em;
        border: 1px solid black;
        padding: .5em 1.5em;
        cursor: pointer; }
      .idea-show-container .idea-edit-form form input[type="button"] {
        background-color: inherit;
        border: none;
        font-size: 1.5em;
        border: 1px solid black;
        padding: .5em 1.5em;
        cursor: pointer; }

.form-container {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #f8b195; }
  .form-container form {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .form-container form input,
    .form-container form label {
      margin: 0.5em 0;
      font-size: 2vw;
      text-align: center; }
    .form-container form input[type="submit"] {
      background-color: inherit;
      border: 1px solid black;
      cursor: pointer;
      width: 20%;
      padding: .5em 1.5em;
      transition: .5s ease; }
      .form-container form input[type="submit"]:hover {
        background-color: white;
        color: black;
        border-radius: .5em; }
    .form-container form input[type="button"] {
      background-color: inherit;
      border: 1px solid black;
      align-self: flex-start;
      cursor: pointer;
      transition: 0.5s ease;
      padding: 0.5em 1.5em; }
      .form-container form input[type="button"]:hover {
        background-color: rgba(196, 78, 78, 0.3);
        border-radius: 1em; }
    .form-container form label {
      border-radius: 0.5em; }

footer {
  background-color: #00a5d0;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; }
  footer div {
    cursor: pointer;
    border-right: 1px solid black;
    flex: 1;
    text-align: center; }
    footer div input {
      border: none;
      background-color: inherit;
      font-size: 2vw;
      font-weight: bold;
      cursor: pointer; }
