<div class="form">
  <div class="form-container" ng-submit="register.submit()">
    <form>
      <label for="name" >Name:</label>
      <input ng-model="register.user.name" type="text" name="name" placeholder="name">

      <label for="email">Email:</label>
      <input ng-model="register.user.email" type="email" name="email" placeholder="email">

      <label for="password">Password:</label>
      <input ng-model="register.user.password" type="password" name="password" placeholder="password">

      <label for="passwordConfirmation">Password Confirmation:</label>
      <input ng-model="register.user.passwordConfirmation" type="password" name="passwordConfirmation" placeholder="passwordConfirmation">

      <input type="submit" name="login" placeholder="Login">
    </form>
  </div>
</div>
